<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Section</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/flex.css">
    <link rel="stylesheet" href="/css/signIn.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>

</head>
<body>
<div class=" w3-center w3-light-gray" style="width: 100%; height: 100%">
    <div class="signIn-info">
        <h1 style="margin-bottom: 50px; font-weight: bolder">Add Section</h1>
        <form method="POST" action="">
            <div class="signIn-container">
                <input class="signIn-input" type="text" name="courseId" value="{{courseId}}" hidden>
            </div>
            <div class="signIn-container">
                <input type="text" name="sectionId" placeholder=" Please Enter Your Section Id" required>
            </div>
            <div class="signIn-container">
                <input type="text" name="subtitle" placeholder=" Please Enter a Subtitle for Your Section">
            </div>
            <div class="signIn-container">
                <input type="text" name="video" placeholder=" Please Enter the URL for the Video/Image You Want to Add">
            </div>

            <div>
                <textarea name="description" class="create-desc" placeholder=" Description of This Section"></textarea>
            </div>

            <button type="submit" class="signIn-btn">Submit</button>
        </form>

    </div>
</div>
</body>
</html>