<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
            <a href="/" class="w3-bar-item" style="width: 150px"><img src="/img/BASA%20logo.png" style="height: 80%; width: 80%"></a>

            <div class="w3-left w3-hide-small navigation" style="color: #2196F3;">
                <a href="/" class="w3-bar-item w3-button">Home</a>
                <a href="#" class="w3-bar-item w3-button">Courses</a>
                <a href="#" class="w3-bar-item w3-button">About</a>
                <a href="#" class="w3-bar-item w3-button">Contact</a>
            </div>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small navigation" style="color: #c90f48;">
                <a href="/users/register" class="w3-bar-item w3-button">Join US!</a>
                <a href="/users/login" class="w3-bar-item w3-button">Sign in</a>
            </div>
        </div>
    </div>
    {{{body}}}
    <footer class="w3-padding-32 footer" id="footer" style="width: 100%">
        <div class="footer-information">
            <div class="AboutUS">
                <h4>About Us</h4>
                <p><a href="#" class="w3-hover-text-white footer-font">Our Mission</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">Our Team</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">For Parents</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">Our Educators</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">Our Student</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">FAQ</a> </p>
            </div>
            <div class="GetInvolved">
                <h4>Get Involved</h4>
                <p><a href="#" class="w3-hover-text-white footer-font">Start a Club</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">Partner</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">Careers</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">Media Kits</a> </p>
                <p><a href="#" class="w3-hover-text-white footer-font">Contact Us</a> </p>
            </div>
            <div class="Contact w3-center">
                <div class="subscribe">
                    <p class="w3-center"><a href="#" class="btn btn-large" style="color: white; border-color: white">SUBSCRIBE</a></p>
                    <p>To our Newsletter</p>
                </div>
                <div class="connected">
                    <p>STAY CONNECTED WITH <span style="font-weight: bolder ">BASA</span></p>
                    <div class="footer-icons">
                        <a href="#">
                            <img src="/img/instagram.png" width="20px" height="20px">
                        </a>
                        <a href="#"><img src="/img/facebook.png" width="20px" height="20px"></a>
                        <a href="#"><img src="/img/pinterest.png" width="20px" height="20px"></a>
                        <a href="#"><img src="/img/twitter.png" width="20px" height="20px"></a>
                        <a href="#"><img src="/img/youtube.png" width="20px" height="20px"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="w3-center" style="font-size: 50%;">Copyright@2019BASA</p>
    </footer>
</body>
</html>
