.title {
    opacity: 0.6;
    background-color: rgb(26, 190, 229);
    /*background-image: url("../img/rocketscience.png");*/
}

.text-title {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
}

/*video*/
.video {
    margin-top: 40px;
}

/*section*/
.section-course {
    text-align: left;
}

.section-course a{
    color: black;
}

.section-course a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

